@font-face {
  font-family: 'Montoserrat';
  font-weight: 400;
  src: url('../fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Creation';
  src: url('../fonts/Creattion\ Demo.otf');
}


body{
  margin: 0px;
  overflow-x: hidden;
  opacity: 1;
  transition: opacity 0s;
}

.fadein{
  opacity: 0;
  transition: opacity 1s !important;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }
