@font-face {
  font-family: 'Montoserrat';
  font-weight: 400;
  src: url('../fonts/Montserrat-VariableFont_wght.ttf');
}

body{
  margin: 0px;
  overflow-x: hidden;
  opacity: 0;
  transition: opacity 1s;
}

.fadein{
  opacity: 0;
  transition: opacity 1s !important;
}
